# Android
*.iml
.gradle/
.idea/
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
build/
.externalNativeBuild
.cxx
proguard/
/captures
android/app/release/

# iOS
ios/*.xcworkspace
ios/DerivedData/
ios/*.xcuserstate
ios/xcuserdata/
ios/E1RMCalculator.xcodeproj/xcuserdata/
ios/E1RMCalculator.xcodeproj/project.xcworkspace/xcuserdata/

# General
*.log
.DS_Store
.claude/
